{# empty Twig template #}
{% extends 'partials/base.html.twig' %}

{% block content %}
   <div class="row centered">
       <div class="col-lg-12">
           {{page.content}}
       </div>
   </div>
    {% set colArray = ["_connaitre", "_actualite", "_contacter"]%}
    {% set inc = 0 %}
        {% for p in page.collection %}
{#            {{dump(p)}}#}
            {%if p.folder in colArray %}
                {% if inc == 0 %}
                   
                    <div class="row centered">
                 {% endif %}
                  {% set inc = inc + 1 %}   
                    <div 
                        class="col-lg-4 col-md-4 img-rounded" id="{{ p.folder }}">
                        <h3>{{ p.title }}</h3>
                         {{ p.content }}
                    </div>
            {% if inc==3 %}
                </div>
             {% endif%}
            {%else%}
                <div class="row">
                     <div 
                    id="{{ p.folder }}" class="col-lg-12 centered img-rounded">
                          {{ p.content }}
                     </div>
                </div>
            {% endif%}
        {% endfor %}
    
{% endblock %}
