{# empty Twig template #}
{% extends 'partials/base.html.twig' %}

{% block content %}
 <h1>{{page.title}}</h1>
    <div clss="row">
        <div class="col-lg-12">
            {{ page.media['snapshot.jpg'].resize(800).html("","","img-rounded") }}
        </div>
    </div>
        <div clss="row">
            <div class="col-lg-12">
                <h2>Comité SNEB</h2>
            </div>
        </div>
    <div class="row" id="organisation">
        
        {% for p in page.collection %}
            <div 
                id="{{ p.folder }}"
                class="col-md-2 ">
                <h2>{{p.title}}</h2>
                    {{ p.content }}
            </div>
        {% endfor %}
        
    </div>
        <div class="row">
         <div class="col-lg-12" id="_blockcentral2">
            {{content}}
        </div>
    </div>
       
{% endblock %}
